.footer{
    padding-top: 53px;
    padding-bottom: 40px;
    background-color: #273443;
    color: #fff;
    font-size: 13px;
    h6{
        margin-bottom: 2em;
        color: #fff;
    }
    ul{
        list-style-type: none;
        margin: 0;
    }
}

.footer-secondary{
    background-color: #232f3c;
    padding: 23px 0;
    .container{
        display: flex;
    }
    a{
        color: #fff;
        &:hover{
            color: #ddd;
        }
    }
}
